@import "tailwindcss/components";

@import "tailwindcss/utilities";

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Red Rose', cursive;
}

.place{
  display:flex!important;

}
.place > div{
  flex-wrap: wrap!important;
}